<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Título</th>
      <th scope="col">Ano</th>
      <th scope="col"></th>
    </tr>
  </thead>
<tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.id %></td>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td>
        <%= link_to "Show", movie, class: 'btn btn-success' %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New movie", new_movie_path, class: 'btn btn-primary' %>
